@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#171a43, #111220);
  color: #e5e9f8;
}


div p {
  text-align: center;
}